.switch-translator-container {
  display: flex;
  justify-content: space-around;
  width: 10%;
  height: 6vh;
  margin: 0 auto;
}

.btn-translate {
  padding: 5px;
  margin-bottom: 10px;
  border: none;
}

.btn-translate:focus {
  outline: none;
}

.img-translate {
  width: 35px;
}

@media screen and (max-width: 1023px) {
  .switch-translator-container {
    display: flex;
    justify-content: space-around;
    width: 25%;
    height: 6vh;
    margin: 0 auto;
  }
  .img-translate {
    width: 40px;
  }
}
